<!-- Ortak Footer Başlangıç -->
<footer class="container-fluid bg-dark text-light mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-4 text-white">İletişim Bilgileri</h4>
                <a href=""><i class="fas fa-home me-2"></i> Barbaros Mahallesi Al Zambak Sokak Varyap Meridian A Blok Grand Tower No:2/65 Ataşehir / İSTANBUL</a>
                <a href=""><i class="fas fa-envelope me-2"></i> info@gcbhukuk.com</a>
                <a href=""><i class="fas fa-phone me-2"></i> +90 212 000 00 00</a>
                <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +90 212 000 00 01</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-4 text-white">Hızlı Linkler</h4>
                <a href="{{ url_for('index') }}"><i class="fas fa-angle-right me-2"></i> Anasayfa</a>
                <a href="{{ url_for('hakkinda') }}"><i class="fas fa-angle-right me-2"></i> Hakkımızda</a>
                <a href="{{ url_for('hizmetler') }}"><i class="fas fa-angle-right me-2"></i> Faaliyet Alanları</a>
                <a href="{{ url_for('neden_biz') }}"><i class="fas fa-angle-right me-2"></i> Kurumsal Sorumluluk</a>
                <a href="{{ url_for('iletisim') }}"><i class="fas fa-angle-right me-2"></i> İletişim</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Gizlilik Politikası</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> KVKK</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-4 text-white">Yayınlar</h4>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Bilgi Notları</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-4 text-white">Online Danışmanlık</h4>
                <p class="mb-2">Hukuki sorularınız için bizimle iletişime geçin. Uzman avukatlarımız size en kısa sürede dönüş yapacaktır.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-end mb-md-0">
                <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">GCB Hukuk ve Danışmanlık</a>, Tüm hakları saklıdır.
            </div>
            <div class="col-md-6 text-center text-md-start">
                <span class="text-white">Telif Hakkı ©️ 2025 Bu internet sitesinde yer alan tüm bilgiler ve logoya ilişkin tüm fikri mülkiyet hakları GCB Hukuk ve Danışmanlık Ofisi'ne aittir.</span>
            </div>
        </div>
    </div>
</footer>
<!-- Ortak Footer Bitiş --> 